*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  padding: 0px;
  min-height: 100vh;
  background-image: linear-gradient(108deg, #ae00ff52, #ff0000ab); }

.header {
  height: calc(100vh - 3rem);
  width: 100%;
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 1rem; }

.container {
  padding: 1.5rem; }
